@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  background-image: radial-gradient(circle, #230000, #200404, #1c0808, #190c0c, #140f0f);
   font-family: 'Chakra Petch', sans-serif;
}


