@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  background-image: linear-gradient(to right top, #030404, #000b0f, #000f1a, #001124, #03102c);
   font-family: 'Chakra Petch', sans-serif;
}


