@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  background-image: radial-gradient(circle, #01183d, #041a46, #0b1c4e, #141d56, #1e1e5e);
   font-family: 'Chakra Petch', sans-serif;
}


