.Projetos{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.Projetosh2{
    color: wheat;
    font-size: 2.9rem;
}
.geral{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}





