.container_section{
display: flex;
flex-direction: row;
justify-content: center;
height: 90vh;
margin-top:-120px ;
margin-bottom:180px ;

}.cardImage{
    margin-top: 330px;
    margin-right: 30rem;
    height: 380px;
    width: 20rem;
    border-radius: 0px 10px 10px 0px;
    background-color: #025c94a6;
}
.cardImage img {
    opacity: 0.6;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
}
.cardImage:hover img{
    opacity: 1;
    margin-right: 16rem;
    transform: scale(1.2);
} 
.section{
    height: 90vh;
    margin-top: 150px;
    display: flex;
    padding-top: 5%;
flex-direction: column;
width: 35%;
margin-left: 26rem;
}
h2{
    margin-top: 85px;
color: antiquewhite;
font-size:2.5rem ;
}
p{
    
    width: 90%;
    margin-top: 20px;
    color: #9b9999;
font-size:1.2rem ;
}
.button_animacao{
    margin-top: 15px;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 5px;
    border: 2px solid #025c94;
    height: 50px;
    width: 200px;
    font-size: 1.0rem;
    color: #ffd4dc;
    background-color: #0099ff00;
    margin-top: 20px;
}.button_animacao:hover{
    cursor: pointer;
    opacity: 0.8;
    
}
a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    color: #ffd4dc;
}
