.container_section{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 70vh;
margin-top:120px ;
margin-bottom:180px ;


}.cardImage{
    height: 380px;
    width: 20rem;
    border-radius: 0px 10px 10px 0px;
    background-color: #18191ad0;
}
.cardImage img {
    opacity: 0.6;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
}
.cardImage:hover img{
    opacity: 1;
    margin-right: 16rem;
    transform: scale(1.2);
} 
.section{
    height: 80vh;
    display: flex;
    padding-top: 5%;
flex-direction: column;
width: 35%;
margin-left: 6rem;
}
h2{
    margin-top: 85px;
color: rgb(0, 0, 0);
font-size:2.5rem ;
}
p{
    
    width: 90%;
    margin-top: 20px;
    color: #4e4e4e;
font-size:1.2rem ;
}
.button_animacao{
    margin-top: 15px;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 5px;
    border: 2px solid #000000;
    height: 50px;
    width: 200px;
    font-size: 1.0rem;
    color: #000000;
    background-color: #0099ff00;
    margin-top: 20px;
}.button_animacao:hover{
    cursor: pointer;
    opacity: 0.8;
    
}
a{
    height: 50px;
    width: 200px;
    text-decoration: none;
    color: #0a0a0a;
}
