.linha{
height: 100vh;
  border-left: 1px solid #dddddd;
  position: fixed;
  top: 90%;
  left: 97%;
  transform: translateX(-50%);}
  
  .section-title {
    color: #ffffff;
    position: fixed;
    writing-mode: vertical-rl;
    text-align: end;
    left: 96.5%;
    top: 70%;
  }
  .section-title a{
    color: white;
  }
  .linha-direita{
    height: 100vh;
  border-left: 1px solid #fcfcfc;
  position: fixed;
  top: 90%;
  left: 3%;
  transform: translateX(-50%);}
  
  .section-title-direita {
    color: #faf5f5;
    position: fixed;
    writing-mode: vertical-rl;
    text-align: end;
    left: 2.5%;
    top: 70%;
  }
  .teste{
    height: 105vh;
    background-image: url(./img/clint-patterson-dYEuFB8KQJk-unsplash.jpg);
    background-size: cover;
    border-bottom: 1.5px solid rgb(2, 22, 87) ;
  }
  