@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
.header{
    height:8vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgb(2, 22, 87) ;
}
.header--menu_one{
    width: 25%;
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: #bff0fc;
    font-weight: 500;
    font-family: 'Roboto'
}
.header--menu_two{
    display: flex;
    justify-content: center;
    width: 10%;
    list-style: none;
    font-size: 1.8rem;
    color: #f8f5f5;
    font-family: 'Sedgwick Ave Display', cursive;
    
    
}
.header--menu_a{
    text-decoration: none;
    color: #ffffff;
}
.header li:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #ffffff;
}
.header li:hover::after {
    content: ''; /* adiciona conteúdo vazio após o link */
  display: block; /* define como bloco */
  position: absolute; /* define a posição absoluta em relação ao link */
  width: 40%; /* define a largura como 100% do link */
  height: 2px; /* define a altura da linha */
  bottom: 10; /* posiciona a linha na parte inferior do link */
  background-color: #0060b9; /* define a cor da linha */
  }
