@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{ 
  height: 500vh;
  background-image: linear-gradient(to right bottom, #000000, #251e27, #2d3b52, #0e5f74, #06837d);
  overflow-x: hidden;
   font-family: 'Chakra Petch', sans-serif;
}


