.Github {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz com que o div ocupe toda a altura da tela */
    background-color: #282c34; /* Cor de fundo para melhor contraste */
}

.Github a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.Github a:hover {
    background-color: white;
    color: #282c34; /* Muda a cor ao passar o mouse */
}

@media (max-width: 600px) {
    .Github a {
        font-size: 1em; /* Tamanho do texto menor para telas menores */
        padding: 8px 16px;
    }
}

